

# node
node_modules


#ENV
.env
.env.test

# MongoDB or binary folders
mongodb-bin/
mongodb-binaries/
mongodb-data/
*.pdb
*.zip

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Firebase
config/swiftdrop-5f6b0-firebase-adminsdk-fbsvc-54a86ae399.json
config/*firebase-adminsdk*.json