services:
  redis:
    image: redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo
    ports:
      - "27017:27017"

  api:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - docker.env
    depends_on:
      - redis
      - mongo
